.mdl-layout__content
  background #fafafa

.mdl-layout__drawer
  background white

hoverPointer()
  &:hover
    cursor pointer

.videoItem,
.noteItem
  display flex
  justify-content center
  .mdl-card
    hoverPointer()
    max-width 250px
    min-height 0
    .title
      word-break break-word
    .description
      height 36px
      width initial
      max-width 330px


.mdl-navigation__link
  hoverPointer()
  display flex !important
  align-items center
  &.selected
    background-color #e0e0e0
  .material-icons
    margin-right 32px


.note-content
  padding 40px
  .mdl-card
    padding 16px
    max-width 700px
    margin auto
    &.mdl-card
      width initial
    img
      display block
      margin auto
      max-width 100%
    h1
      text-align center
    pre
      overflow-x auto
      max-width 100%

iframe
  margin auto
  padding 16px



@media (max-width: 480px)
  .note-content
    padding 16px

  .videoItem,
  .noteItem
    .mdl-card
      .description
        display none
