.video
  display flex
  justify-content center
  &:hover
    cursor pointer
  .description
    height 36px

.mdl-card
  max-width 100%

.mdl-navigation__link
  display flex !important
  align-items center
  .material-icons
    margin-right 32px
